body{ font-family: arial, calibri, sans-serif; font-size: 12px; min-height: 800px; min-width: 1024px;}
table{ font-family: arial, calibri, sans-serif; font-size: 12px; }
div{ overflow: hidden; }
h1{ display: inline; }
textarea {
   font-family: arial, calibri, sans-serif;
   font-size: 12px;
   resize: vertical;
   width: 100%;
   margin-bottom: 1%;
   height: 20%;
}
.num_input { width: 10%; }

/*Header*/
div#header{ border-bottom: solid; padding: 1%; }
div#title_wrapper{ float: left; width: 22%; }
div#search_wrapper{ float: left; }
div#default_btns{ float: right; }

/*Main Content*/
#main_wrapper{
   padding: 0% 1% 0% 1%;
}

.rx_data_wrapper {
   border-style: solid;
}

.left{
   width: 48%;
   float: left;
   padding: 1%;
}
.right{
   width: 48%;
   float: left;
   padding: 1%;
}

.label_wrapper {
   float: left; width: 20%;
}
.rx_name_input {
   width: 100%;
}

.notify_when{
   margin-bottom: 2%;
}

.toggle_disabled_wrapper{
   padding: 0%;
   border-style: none;
}

#button_bar{
   padding-top: 1%;
}